@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'styles/components';

body {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif !important;
}

main {
  min-height: calc(100vh - 400px);
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

:root {
  --color-primary: #f30106;
  --color-secondary: #2755ff;
}
